<h2>Functionality Details</h2>

<div *ngIf="functionality">
  <p>Name: {{ functionality.name }}</p>
  <p>Description: {{ functionality.description }}</p>
  <p>Priority: {{ functionality.priority }}</p>
  <p>State: {{ functionality.state }}</p>

  <li *ngFor="let task of getTasksForFunctionality(functionality.id)">
    <h3>{{ task.name }}</h3>
    <p>Description: {{ task.description }}</p>
    <p>Priority: {{ task.priority }}</p>
    <p>State: {{ task.state }}</p>
  </li>

</div>

<button (click)="goBack()">Back</button>

